// colors
$clr-main-light: #70908B;
$clr-main-dark: #07484A;

$clr-dark-gray: #6E757E;
$clr-medium-gray: #C4C4C4;

$clr-light-green: #CAF3E5;
$clr-light-blue: #E0EFF6;
$clr-light-pink: #EEEBFF;
$clr-light-yellow: #FFF4E7;
$clr-light-beige: #FDFBF8;
$clr-light-gray: #F0F0F0;
$clr-light-gray-opacity: #f0f0f078;
$clr-white: #fff;

$clr-bg-header: #cdcdcd;

$clr-bg-multipy: #605f5f;

// typography
$accent-font: 'Playfair Display', serif;
$primary-font: 'Open Sans', sans-serif;